<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="     http://java.sun.com/xml/ns/javaee      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>servlet.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>servlet.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Param</servlet-name>
        <servlet-class>servlet.Param</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>servlet.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>servlet.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Monprofil</servlet-name>
        <servlet-class>servlet.Monprofil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>traitementConnexion</servlet-name>
        <servlet-class>servlet.traitementConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>traitementInscription</servlet-name>
        <servlet-class>servlet.traitementInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Projet</servlet-name>
        <servlet-class>servlet.Projet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jeux</servlet-name>
        <servlet-class>servlet.Jeux</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>traitementParam</servlet-name>
        <servlet-class>servlet.traitementParam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Historique</servlet-name>
        <servlet-class>servlet.Historique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>traitementHistorique</servlet-name>
        <servlet-class>servlet.traitementHistorique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Frequence</servlet-name>
        <servlet-class>servlet.Frequence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historiqueJSON</servlet-name>
        <servlet-class>servlet.historiqueJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Param</servlet-name>
        <url-pattern>/Param</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Monprofil</servlet-name>
        <url-pattern>/Monprofil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>traitementConnexion</servlet-name>
        <url-pattern>/traitementConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>traitementInscription</servlet-name>
        <url-pattern>/traitementInscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Projet</servlet-name>
        <url-pattern>/Projet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jeux</servlet-name>
        <url-pattern>/Jeux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>traitementParam</servlet-name>
        <url-pattern>/traitementParam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historique</servlet-name>
        <url-pattern>/Historique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>traitementHistorique</servlet-name>
        <url-pattern>/traitementHistorique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Frequence</servlet-name>
        <url-pattern>/Frequence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historiqueJSON</servlet-name>
        <url-pattern>/historiqueJSON</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
